.message {
    color: var(--accent-text);
    padding-left: 30px;
}

.card {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
    padding: 40px;
    text-align: center;
    border-width: 0;
}

.card:hover {
    box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.4);
}

.mini-card-container {
    padding: 10px;
}

.mini-card {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    padding: 20px 10px;
    text-align: center;
    border-width: 0;
}

.mini-card:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
}

.member-link a {
    color: var(--accent-text);
}
