{% extends 'privateviewcontroller/navbar.html' %}
{% load static %}

{% block js %}
<script type="text/javascript">
    function showWarning() {
        let warningDiv = document.getElementById('snapshot-warning');
        warningDiv.className = '';
    }

    function cancelWarning() {
        let warningDiv = document.getElementById('snapshot-warning');
        warningDiv.className = 'd-none';
    }
</script>
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'privateviewcontroller/css/dashboard.css' %}"/>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <br/>
    {% if message %}
    <div class="row">
        <br/>
        <div class="message">
            {{message}}
        </div>
    </div>
    {% endif %}
    <br/>
    <div class="row">
        <div class="col-12 col-lg-4">
            <div class="card">
                Add Member
                <hr/>
                <form action="{% url 'privateviewcontroller:addmember' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <input class="form-control" name="name" placeholder="Member Name"/>
                    </div>
                    <div class="form-group">
                        <select class="form-control" name="position">
                            {% for position in positions %}
                            <option>{{position}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-light">Add</button>
                </form>
            </div>
            <br/><br/>
            <div class="card">
                Edit Member
                <hr/>
                {% for member_info in members %}
                <div class="mini-card-container">
                    <div class="mini-card">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-8 member-name">
                                    {{member_info.MEMBER_NAME}}
                                </div>
                                <div class="col-4 member-link">
                                    <a href="{% url 'privateviewcontroller:editmember' index=member_info.INDEX %}">Edit</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <br/>
            <div class="card">
                Add Project
                <hr/>
                <form action="{% url 'privateviewcontroller:addproject' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <input class="form-control" name="project_name" placeholder="Project Name"/>
                    </div>
                    <div class="form-group">
                        <input class="form-control" name="members_attended" placeholder="Volunteers (must be integer)"/>
                    </div>
                    <div class="form-group">
                        <input class="form-control" name="hours" placeholder="Hours (0 - 24 non inclusive)"/>
                    </div>
                    <div class="form-group">
                        <input class="form-control" name="image_url" placeholder="Image (url)"/>
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="display">
                            <label class="form-check-label small-label">
                                Check to display project to public
                            </label>
                        </div>
                        <br/>
                        <label class="small-label">Date of Project</label>
                        <input class="form-control" name="date" type="date"/>
                    </div>
                    <br/>
                    <button type="submit" class="btn btn-light">Add</button>
                </form>
            </div>
            <br/><br/>
            <div class="card">
                Edit Projects
                <hr/>
                {% for project_info in projects %}
                <div class="mini-card-container">
                    <div class="mini-card">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-8 member-name">
                                    {{project_info.NAME}} ({{project_info.DATE}})
                                </div>
                                <div class="col-4 member-link">
                                    <a href="{% url 'privateviewcontroller:editproject' index=project_info.INDEX %}">Edit</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <br/>
        </div>
        <div class="col-12 col-lg-4">
            <div class="card">
                Create Snapshot
                <hr/>
                <label class="small-label">This should only be used at the end of each year.</label>
                <a onclick="showWarning();">Create snapshot</a>
            </div>
            <div class="d-none" id="snapshot-warning">
                <br/>
                <div class="card card-warning">
                    <div><b>
                        This deletes all members from the database and creates a snapshot of the
                        year (the snapshot can be viewed in the member's page).
                    </b></div>
                    <div>
                        <br/>
                        <a onclick="cancelWarning();">Click here to cancel</a>
                        <hr/>
                        <a href="{% url 'privateviewcontroller:createsnapshot' %}">Click here to confirm</a>
                    </div>
                </div>
            </div>
            <br/>
            <div class="card">
                Image Carousel
                <hr/>
            </div>
        </div>
    </div>
</div>

{% endblock %}
