##########  MISC  ###########
.idea
.DS_Store
#############################


########## PYTHON ###########
venv/
*.pyc
__pycache__
#############################


########## DJANGO ###########
*.sqlite3
.env
staticfiles
*/secret.py
#############################


############ GCP ############
.firebase/
firebase-debug.log*
#############################
