.sticky {
    position: sticky;
    top: 0;
    z-index: 100;
}

.bg-light {
    background-color: #f5f6f7 !important;
}

#long-navbar-brand {
    display: inline-block;
    visibility: visible;
    font-size: 28px;
}

#short-navbar-brand {
    display: none;
    visibility: hidden;
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
    color: var(--accent-text);
}

.navbar-light .navbar-nav > .nav-link:hover, .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link:hover {
    color: var(--black-text);
}

.navbar-light .navbar-nav .active > .nav-link:hover, .navbar-light .navbar-nav .nav-link.active:hover, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link:hover {
    color: var(--light-text);
}

.nav-item-right {
    position: absolute;
    right: 20px;
}

#login-link {
    display: block;
    visibility: visible;
}

#collapsed-login-link {
    display: none;
    visibility: hidden;
}

/* Navigation Bar Collapses */
@media (max-width: 991px) {
    #login-link {
        display: none;
        visibility: hidden;
    }

    #collapsed-login-link {
        display: inherit;
        visibility: visible;
    }
}

/* Kaveri Youth Committee Collapses */
@media (max-width: 500px) {
    #long-navbar-brand {
        display: none;
        visibility: hidden;
    }

    #short-navbar-brand {
        display: inline-block;
        visibility: visible;
        font-size: 20px;
    }
}