{% extends 'publicviewcontroller/navbar.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'publicviewcontroller/css/projects.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'publicviewcontroller/css/home.css' %}"/>
{% endblock %}

{% block onloadjs %}
var carousel = document.getElementById('carousel');
carousel.style.backgroundImage = "url({{ first_image }})";

animateValue("hours-value", parseInt({{hours}}/2), {{hours}}, 500);

window.setInterval(nextImage,5000);
{% endblock %}

{% block js %}

<script type="text/javascript">

    var images = [{% for image in images %}"{{ image }}", {% endfor %}];
    var position = 0;

    function nextImage() {
        position += 1;
        if (position == images.length) {
            position = 0;
        }
        let carousel = document.getElementById('carousel');
        carousel.style.backgroundImage = "url(" + images[position] + ")";
    }

    function prevImage() {
        position -= 1;
        if (position == -1) {
            position = images.length - 1;
        }
                let carousel = document.getElementById('carousel');
        carousel.style.backgroundImage = "url(" + images[position] + ")";
    }

    function toggleMembers() {
        let expansion = document.getElementById('member-expansion');
        let button = document.getElementById('toggle-members-list');

        if (button.textContent === 'Show more') {
            expansion.style.display = 'inherit';
            button.textContent = 'Show less'
        } else {
            expansion.style.display = 'none';
            button.textContent = 'Show more'
        }
    }

    function animateValue(id, start, end, duration) {
        let range = end - start;
        let current = start;
        let increment = end > start? 1 : -1;
        let stepTime = Math.abs(Math.floor(duration / range));
        let obj = document.getElementById(id);
        let timer = setInterval(function() {
            current += increment;
            obj.innerHTML = current;
            if (current === end) {
                clearInterval(timer);
            }
        }, stepTime);
    }

</script>

{% endblock %}

{% block body %}

<div class="container-fluid">
    <!-- Image Carousel and Description -->
    <div class="row" id="first-row">
        <!-- Image Carousel -->
        <div class="col-12 col-lg-6">
            <div id="carousel">
                <a id="prevImage" onclick="prevImage();"><img src="{% static 'publicviewcontroller/img/previous.png' %}"/></a>
                <a id="nextImage" onclick="nextImage();"><img src="{% static 'publicviewcontroller/img/next.png' %}"/></a>
            </div>
        </div>

        <!-- Description -->
        <div class="col-12 col-lg-6">
            <div id="info">
                <span class="accent">K</span>averi <span class="accent">Y</span>outh <span class="accent">C</span>ommittee is the youth wing of Kaveri Kannada Accociation. We are an non-profit that serves the community in the DC, Maryland, and Virginia area and abroad. Over the years KYC has raised money for medical assistance in rural areas of India. We meet 5-6 times a year to raise money through different fundraising and community service activities. We hold cloth drives, book sales, and bake sales to raise money for India. We also give back to our local community with activities like landscaping, food packing, and visiting local senior centers. Our mission is to learn our culture, connect people, and give back to our community.
                <br/>
            </div>
        </div>

    </div>

    <div class="row" id="second-row">
        <!-- Recent Projects -->
        <br/>
        <div class="col-lg-8 sidebar-column">
            <div class="container-fluid">
                <div class="row sidebar-div">
                    <div class="col-12">
                        <div class="sidebar-title"> Recent Projects </div>
                        <hr/>
                        <div class="container-fluid">
                            <div class="row mobile-view">
                            {% for project in projects %}
                                <div class="col-12">
                                    <div class="w-100 ml-auto mr-auto project-card" style="background-image: url('{{project.IMAGE}}');">
                                        <img src="{{project.IMAGE}}" class="placeholder-image"/>
                                        <div class="bar name">
                                            {{project.NAME}}
                                        </div>
                                        <div class="bar bottom-bar">
                                            <div class="w-100">
                                                {{project.VOLUNTEERS}} volunteers on {{project.DATE}}
                                            </div>
                                        </div>
                                    </div>
                                    <br/>
                                </div>
                            {% endfor %}
                            </div>
                            <div class="row desktop-view">
                            {% for column in columns %}
                            <div class="col-6">
                                {% for project in column %}
                                <div class="w-100 ml-auto mr-auto project-card" style="background-image: url('{{project.IMAGE}}');">
                                    <img src="{{project.IMAGE}}" class="placeholder-image"/>
                                    <div class="bar name">
                                        {{project.NAME}}
                                    </div>
                                </div>
                                <br/>
                                {% endfor %}
                            </div>
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Contact Information -->
        <div class="col-lg-4 sidebar-column">
            <div class="sidebar-div">
                <div class="col-12 hours-volunteered">
                    <b><div id="hours-value">0</div></b>Hours Volunteered
                </div>
            </div>
            <br/>
            <div class="sidebar-div">
                <div class="sidebar-title"> Members </div>
                <hr/>
                <div>
                    {% for position, member in member_summary %}
                    {{ member }} <span class="member-position">({{ position }})</span><br/>
                    {% endfor %}
                </div>
                {% if has_expansion %}
                <div id="member-expansion">
                    {% for position, member in member_expand %}
                    hello
                    {{ member }} <span class="member-position">({{ position }})</span><br/>
                    {% endfor %}
                </div>
                <span onclick="toggleMembers()" id="toggle-members-list">Show more</span>
                {% endif %}
            </div>
        </div>
        </div>

        <div class="footer row">
            <div class="col-6 contact-buttons">
                <a href="mailto:kyckaveri@gmail.com" target="_blank">
                    <img src="{% static 'publicviewcontroller/img/mail.png' %}" class="icon"/>
                </a>
                <a href="mailto:kyckaveri@gmail.com" target="_blank">
                    <img src="{% static 'publicviewcontroller/img/facebook.png' %}" class="icon"/>
                </a>
            </div>
            <div class="col-6 footer-text">
                Kaveri Kannada Association<br/>
                Maryland, Washington DC, and Virginia
            </div>

        </div>

    </div>

</div>

{% endblock %}
