<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'common/css/global.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'common/css/navbar.css' %}"/>

    {% block css %}
    {% endblock %}

    <!--&lt;!&ndash; Favicon &ndash;&gt;-->
    <link rel="shortcut icon" type="image/png" href="{% static 'common/img/favicon.ico' %}"/>

    <!--  JS  -->
    <script type="text/javascript">
        window.onload = function () {
            var page = "{{page_name}}".trim();

            var homeLink = document.getElementById('home-link');
            var membersLink = document.getElementById('members-link');
            var projectsLink = document.getElementById('projects-link');
            var loginLink = document.getElementById('login-link');
            var loginLinkCollpased = document.getElementById('collapsed-login-link');

            if (page == "home") {
                homeLink.className += " active";
                membersLink.className += " inactive";
                projectsLink.className += " inactive";
                loginLink.className += " inactive";
                loginLinkCollpased.className += " inactive";
            } else if (page == "members") {
                homeLink.className += " inactive";
                membersLink.className += " active";
                projectsLink.className += " inactive";
                loginLink.className += " inactive";
                loginLinkCollpased.className += " inactive";
            } else if (page == "projects") {
                homeLink.className += " inactive";
                membersLink.className += " inactive";
                projectsLink.className += " active";
                loginLink.className += " inactive";
                loginLinkCollpased.className += " inactive";
            } else if (page == "login") {
                homeLink.className += " inactive";
                membersLink.className += " inactive";
                projectsLink.className += " inactive";
                loginLink.className += " active";
                loginLinkCollpased.className += " active";
            }

            {% block onloadjs %}
            {% endblock %}

        };
    </script>

    {% block js %}
    {% endblock %}

    <!-- Jquery -->
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>

    {% block jquery %}
    {% endblock %}

    <title>KYC</title>

</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed-top sticky">

    <a class="navbar-brand" href="{% url 'publicviewcontroller:home' %}" id="long-navbar-brand">
        <img src="{% static 'common/img/logo.png' %}"
             width="40" height="40" class="d-inline-block align-top" alt="">
        Kaveri Youth Committee
    </a>

    <a class="navbar-brand" href="{% url 'publicviewcontroller:home' %}" id="short-navbar-brand">
        <img src="{% static 'common/img/logo.png' %}"
             width="30" height="30" class="d-inline-block align-top" alt="">
        KYC
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item" id="home-link">
                    <a class="nav-link" href="{% url 'publicviewcontroller:home' %}">Home</a>
                </li>
                <li class="nav-item" id="members-link">
                    <a class="nav-link" href="{% url 'publicviewcontroller:members' %}">Members</a>
                </li>
                <li class="nav-item" id="projects-link">
                    <a class="nav-link" href="{% url 'publicviewcontroller:projects' %}">Projects</a>
                </li>
                <li class="nav-item" id="collapsed-login-link">
                    <a class="nav-link" href="/admin">Login</a>
                </li>
                <li class="nav-item nav-item-right" id="login-link">
                    <!-- TODO: Fix admin url -->
                    <a class="nav-link" href="/admin">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

{% block body %}
{% endblock %}
</body>

</html>
