#first-row {
    background-color: var(--navbar-bg);
}

#carousel {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 20em;
}

#prevImage {
    position: absolute;
    bottom: 45%;
    left: 60px;
}

#nextImage {
    position: absolute;
    bottom: 45%;
    right: 60px;
}

#info {
    margin-top: -5px;
    padding-bottom: 5px;
}

.accent {
    color: var(--accent-text);
}

#second-row {
    background-color: white;
}

.sidebar-column {
    padding: 20px;
}

.sidebar-div {
    border-width: 10px;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.15);
    padding: 10px;
}

.sidebar-title {
    text-align: center;
    width: 100%;
}

#member-expansion {
    display: none;
}

#toggle-members-list {
    color: var(--accent-text);
    font-size: 14px;
}

#toggle-members-list:hover {
    color: var(--accent-bold);
    text-decoration: underline;
}


@media (max-width: 1000px) {
    #carousel {
        background-size: contain;
        height: 13em;
    }

    #info {
        margin-top: 0;
        padding-top: 5px;
    }
}